@import 'PageStyle.module.scss';
$title_expitriens: 225%;
$date_expitriens: 162%;


// *{
//     outline: 4px solid green !important;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container_myFace {
    text-align: center;
}

.container_tecnology {
    margin-top: $indent100;
}

.title_experience {
    font-size: $title_expitriens;
    font-weight: bold;
    margin-top: $indent30;
}

.cointainer_dates_work {
    display: flex;
    gap: 6px;

    color: #BFBFBF;
    font-size: $date_expitriens;
    font-weight: bold;
}

.experience_description {
    font-size: $date_expitriens;
    text-align: justify;
}

.experience_description>div:nth-child(n+1) {
    margin-bottom: $indent30;
    /* Замените $indent30 на нужное значение отступа */
}

.container_experience {
    margin-top: $indent30;
}

.startBetween {
    display: none;
}

@media only screen and (max-width: 600px) {
    .cointainer_dates_work {
        display: flex;
        gap: 6px;
        color: #BFBFBF;
        font-size: 100%;
        font-weight: bold;
    }

    h1 b {
        display: none;
    }

    .container_stack {
        display: flex;
        margin: 0 auto;
        width: 100%;
        transform: rotate(0);
    }

    .container_experience {
        margin-top: $indent100;
    }

    .title_experience {
        font-size: 24px;
        font-weight: bold;
        margin-top: 2.4%;
    }

    .experience_description {
        display: none;
    }

    .startBetween img {
        width: 50%;
        margin: 0 0 -85px 0;
    }

    .startBetween {
        display: block;
        text-align: center;
    }

    .container_myFace img {
        width: 50%;
    }
}