@import '../App.module.scss';

$indent30: 2.4%;
$indent100: 7.7%;
$fontSize3lvl: 150%;
$fontSize3lvlAdapt: 40%;


html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.container {
    position: relative;
    z-index: 2;
    padding: 192px 309px 100px 309px;
}

.container h1:first-child {
    font-size: 4vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: $indent30;
}

.container h1 {
    position: relative;
    z-index: 2;
    font-size: 4vw;
    text-align: center;
    margin-top: $indent100;
    margin-bottom: $indent30;
}

.descriptrion_container {
    display: flex;
    gap: 47px;
    align-content: center;
    align-items: center;
}

.descriptrion_text {
    font-size: $fontSize3lvl;
    font-weight: 400;
    text-align: justify;
}

.preview {
    text-align: center;
    margin-top: $indent30;
}

.preview img {
    width: 100%;
}

.container_stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: calc(5 * 133px + 4 * 16px);
    margin: 0 auto;
}

.point_stack {
    font-size: $fontSize3lvl;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 43px;
    background-color: #D9D9D9;
}

.approach_container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.approach_container img {
    display: none;
}

.approach_text {
    font-size: $fontSize3lvl;
    font-weight: 400;
    text-align: justify;
}

.gallery {
    margin-top: $indent100;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 70%;
}

footer {
    width: 100%;
    height: 66px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: $fontSize3lvl;
    text-align: center;
}

footer img {
    width: 42px;
    cursor: pointer;
}

.container_tecnology {
    position: relative;
}

.background_shadow {
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -17px;
    display: flex;
    justify-content: center;
}

.background_shadow img {
    z-index: 1;
    text-align: center;
    width: 65%;
    height: 26vh;
}

.descriptrion_container img {
    width: 6vw;
}

@media only screen and (max-width: 1510px) {
    .container {
        position: relative;
        z-index: 1;
        padding: 192px 109px 100px 109px;
    }

    .container h1:first-child {
        font-size: 3vw;
        text-align: center;
        margin-top: 0;
        margin-bottom: $indent30;
    }

    .container_stack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        width: 100%;
        margin: 0 auto;
    }

    .descriptrion_container img {
        width: 6vw;
    }

    .preview img {
        width: 80%;
    }

    .descriptrion_text {
        font-size: 150%;
        font-weight: 400;
        text-align: justify;
    }

    .approach_text {
        font-size: 150%;
        font-weight: 400;
        text-align: justify;
    }

    .container h1 {
        position: relative;
        z-index: 2;
        font-size: 3vw;
        text-align: center;
        margin-top: 7.7%;
        margin-bottom: 2.4%;
    }

    .point_stack {
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 3.5vw;
        background-color: #D9D9D9;
    }

}

@media only screen and (max-width: 1110px) {
    .container {
        position: relative;
        z-index: 1;
        padding: 192px 109px 100px 109px;
    }

    .container h1:first-child {
        font-size: 4vw;
        text-align: center;
        margin-top: 0;
        margin-bottom: 2.4%;
    }

    .container h1 {
        position: relative;
        z-index: 2;
        font-size: 4vw;
        text-align: center;
        margin-top: 7.7%;
        margin-bottom: 2.4%;
    }
}

@media only screen and (max-width: 1000px) {
    .descriptrion_container img {
        width: 8vw;
    }

    .descriptrion_text {
        font-size: 130%;
        font-weight: 400;
        text-align: justify;
    }
}


@media only screen and (max-width: 600px) {
    .container {
        position: relative;
        z-index: 1;
        padding: 140px 19px 19px 19px;
    }

    .container h1 {
        font-size: 36px;
    }

    .container h1:first-child {
        font-size: 36px;
        text-align: center;
        margin-top: 0;
        margin-bottom: $indent30;
    }

    .descriptrion_text {
        display: none;
    }

    .descriptrion_container img {
        display: none;
    }

    .container_stack {
        display: flex;
        margin: 0 auto;
        width: 100%;
        transform: rotate(355deg);
    }

    .point_stack {
        font-size: $fontSize3lvl;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72.69px;
        height: 23.97px;
        background-color: #D9D9D9;
        font-size: 16px;
    }

    .approach_text {
        font-size: 15px;
        font-weight: 400;
        text-align: justify;
        margin-bottom: $indent100;
    }

    .gallery {
        display: none;
    }

    .ringDown {
        display: none !important;
    }

    footer {
        font-size: 90%;
        height: 40px;
    }

    footer img {
        width: 22px;
        cursor: pointer;
    }

    .blockMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 321px;
        height: 161.7px;
        background-color: #ffffff;
        border-radius: 20px;
        margin-bottom: 20px;
        margin: 0 auto;
        margin-top: 10.7%;
        background: url(../image/Group.svg);
    }

    .link {
        text-decoration: none;
        color: black;
        text-align: center;
        cursor: pointer;
    }
}

iframe {
    border-radius: 20px 10px 30px 40px;
    /* Верхний левый, верхний правый, нижний правый, нижний левый углы */
    border: none;
}