$indent30: 4.5%;
$indent100: 7.7%;
$fontSize3lvl: 150%;

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.container {
    position: relative;
    z-index: 2;
    padding: 192px 309px 100px 309px;
}

.container h1 {
    font-size: 4vw;
    text-align: center;
}

.descriptrion_container {
    display: flex;
    gap: 47px;
    align-content: center;
    align-items: center;
}

.descriptrion_text {
    font-size: $fontSize3lvl;
    font-weight: 400;
    text-align: justify;
}

.preview {
    text-align: center;
    margin-top: $indent30;
}

.preview img {
    width: 50%;
}

.container_stack {
    display: flex;
    justify-content: center;
    gap: 16px
}

.point_stack {
    font-size: $fontSize3lvl;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 43px;
    background-color: #D9D9D9;
}

.h1_indent100 {
    margin-top: $indent100;
}

.approach_container {
    display: flex;
    gap: 73px;
    align-content: center;
    align-items: center;
}

.approach_text {
    font-size: $fontSize3lvl;
    font-weight: 400;
    text-align: justify;
}

.gallery {
    margin-top: $indent100;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 70%;
}

footer {
    width: 100%;
    height: 66px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: $fontSize3lvl;
    text-align: center;
}

footer img {
    width: 42px;
}


.container_tecnology{
    position: relative;
}

.background_shadow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -17px;
    display: flex;
    justify-content: center;
}

.background_shadow img {
    text-align: center;
}