.MainMenu {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    background-color: #D9D9D9;
    width: 386px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    transition: transform 0.3s;
}

.MainMenu_open {
    transform: translateX(0);
}

.MainMenu_title {
    margin-top: 19%;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 5%;
}

.MainMenu_point {
    font-size: 42px;
    margin-bottom: 8%;
}